@mixin boton {
    appearance: none;
    outline: 0;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s ease-in-out all;

    &.big {
        height: calc(140px + 100 * ((100vw - 1920px) / 1280));
        padding: 0 1em;
        font-size: var(--ls);

        &.prm {
            background: var(--rosa-dark);
            color: #fff;
            border: 1px solid var(--gris-dark);
            height: 40px;
            font-size: var(--h6);

            @media (hover: hover) {
                &:hover {
                    background: var(--azul);
                }
            }
        }

        &.sec {
            background: var(--verde-limon);
            color: var(--gris-dark);
            border: 1px solid var(--gris-dark);

            &.active {
                background: var(--rosa-dark) !important;
                color: #fff;
            }

            @media (hover: hover) {
                &:hover {
                    color: #fff;
                    background: var(--verde);
                }
            }
        }
    }

    @media (max-width: 768px) {
        &.big {
            font-size: var(--h3);
            height: calc(80px + 10 * ((100vw - 360px) / 768));
        }
    }
}

.botonera {
    .boton {
        margin: 0 15px;
    }

    @media (max-width: 992px) {
        flex-direction: column;
        width: 100%;

        a {
            width: 100%;
        }

        .boton {
            margin: 0 0 20px 0;
        }
    }
}

.boton {
    @include boton;
}

@mixin input {
    flex-direction: column;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 1.5em;

    label {
        color: #fff;
        font-size: var(--h5);
        transition: 0.2s ease-in-out all;
        pointer-events: none;
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    .error-input {
        color: red;
        font-size: var(--h5);
        order: 1;
        margin-top: 0.4em;
        display: none;
        text-align: right;
        right: 0;

        &.show {
            display: block;
        }
    }

    &.active {
        label {
            top: -1em;
            left: 0;
            color: var(--txt-sec);
            font-size: var(--h6);
        }
    }

    &.valid {
        label {
            top: -1em;
            left: 0;
            color: var(--txt-prm);
            font-size: var(--h6);
        }
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        appearance: none;
        outline: none;
        border: none;
        height: 40px;
        padding: 1em;
        width: 100%;
        order: 2;
        color: #fff;
        background: none;
        border: 1px solid #fff;
        border-radius: 3px;

        &::placeholder {
            color: #335c85;
        }

        &:focus {
            border: 1px solid var(--rosa-dark);
            color: var(--rosa-dark);
            // ~ label {
            //     top: -1em;
            //     left: 0;
            //     color: var(--txt-sec);
            //     font-size: var(--h6);
            // }
        }

        // &:valid {
        //     border: 1px solid var(--bg-sec);
        // }
    }

    textarea {
        resize: none;
        height: calc(180px + 140 * ((100vw - 1920px) / 1280));

        // &:focus {
        //     border: 1px solid var(--rosa-dark);
        //     // ~ label {
        //     //     color: var(--bg-prm);
        //     // }
        // }
    }

    &.combo {
        br {
            display: none;
        }

        select {
            outline: none;
            border: none;
            height: 40px;
            width: 100%;
            padding: 0 1em;
            order: 2;
            cursor: pointer;
            background: none;
            border: 1px solid #fff;
            border-radius: 3px;
            // color: #fff;
            color: #335c85;

            &:focus {
                border: 1px solid var(--rosa-dark);
                // ~ label {
                //     top: -1em;
                //     left: 0;
                //     color: var(--txt-sec);
                //     font-size: var(--h6);
                // }
            }

            &:valid {
                color: #fff;
                // ~ label {
                //     top: -1em;
                //     left: 0;
                //     font-size: var(--h6);
                // }
            }
        }
    }

    &.input-checkbox {
        align-items: center;
        flex-direction: row;
        cursor: pointer;

        &.valid,
        &.active {
            label {
                top: 0;
                left: 1em;
                color: var(--txt-prm);
            }
        }

        label {
            position: relative;
            top: 0 !important;
            font-size: var(--h5);
            pointer-events: initial;
            cursor: pointer;
            left: 1em;
        }

        input {
            appearance: none;
            cursor: pointer;
            border: 1px solid var(--bg-prm);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 0;
            background: #fff;

            &:checked {
                background: var(--bg-prm);

                label {
                    font-size: var(--h5);
                }
            }

            &:focus {
                border-color: var(--bg-prm);
            }
        }
    }

    &.input-search {
        flex-direction: column;

        label {
            font-size: var(--l);
        }

        .input-search--wrap {
            display: flex;
            align-items: center;
            gap: 30px;

            &.active {
                // input:focus-visible {
                //     outline-color: #fff;
                // }

                .btn-search {
                    background-image: url(../../img/icon-search-pink.png);
                }
            }
        }

        input {
            appearance: none;
            color: var(--gris-title-mid);
            background: none;
            outline: none;
            border: 1px solid #fff;
            border-radius: 50px;
            height: 70px;
            font-size: var(--h4);
            padding: 0 1em;
            width: 100%;
            text-transform: uppercase;

            &::placeholder {
                color: var(--gris-title-mid);
            }
        }

        .btn-search {
            background-image: url(../../img/icon-search-white.png);
        }
    }

    @media (max-width: 1024px) {
        label {
            top: calc(32px - 12 * ((100vw - 768px) / 1024));
        }

        input {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        label {
            top: calc(15px - 12 * ((100vw - 360px) / 768));
        }

        input[type="text"] {
            &:focus,
            &:valid {
                ~ label {
                    top: -1.5em;
                }
            }
        }
        &.input-search {
            width: 100%;

            .input-search--wrap {
                column-gap: 20px;
            }

            input {
                height: 50px;
            }

            .btn-search {
                background-image: url(../../img/icon-search-white.png);
            }
        }

        textarea {
            height: calc(80px + 10 * ((100vw - 360px) / 768));
        }
    }
}

.input__group,
.combo {
    @include input;
}
