footer.footer
    .container-fluid.p-0
        .row.footer--row
            .col-lg-7.footer--info
                .footer--legales
                    h6 © Linked Space 2022
                    a(href="#°", target="_blank", rel="noopener noreferrer") Terms of Service
                    a(href="#°", target="_blank", rel="noopener noreferrer") Privacy Policy

                .footer--redes 
                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="../img/instagram-solid.svg", alt="")

                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="../img/icon-fb.svg", alt="")

                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="../img/icon-in.svg", alt="")

            a.col-lg-4.col-12.footer--connect(href='connect.html')
                h5 CONNECT



