footer.footer
    .container-fluid.p-0
        .row.footer--row
            .col-lg-7.footer--info
                .footer--legales
                    h6 © Linked Space 2023
                    a(href="terms.html") Terms of Service
                    a(href="privacy.html") Privacy Policy

                .footer--redes 
                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="img/instagram-solid.svg", alt="")

                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="img/icon-fb.svg", alt="")

                    a(href="#!", target="_blank", rel="noopener noreferrer") 
                        img.ing-fluid(src="img/icon-in.svg", alt="")


            .col-lg-4.col-12.footer--connect(data-bs-toggle="modal", data-bs-target="#exampleModal")
                button CONNECT


include ../includes/modal-connect.pug



