@font-face {
    font-family: "APKGaleria-regular";
    src: url("../fonts/secundaria-regular/APKGaleria.eot");
    src: local("☺"),
        url("../fonts/secundaria-regular/APKGaleria.otf") format("opentype"),
        url("../fonts/secundaria-regular/APKGaleria.ttf") format("truetype"),
        url("../fonts/secundaria-regular/APKGaleria.svg") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: "bebas-regular";
//     src: url("../fonts/secundaria-regular/BebasNeue-Regular.eot");
//     src: local("☺"),
//         url("../fonts/secundaria-regular/BebasNeue-Regular.otf")
//             format("opentype"),
//         url("../fonts/secundaria-regular/BebasNeue-Regular.ttf")
//             format("truetype"),
//         url("../fonts/secundaria-regular/BebasNeue-Regular.svg") format("svg");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: "hanson-bold";
//     src: url("../fonts/tercera-bold/Hanson.eot");
//     src: local("☺"), url("../fonts/tercera-bold/Hanson.otf") format("opentype"),
//         url("../fonts/tercera-bold/Hanson.ttf") format("truetype"),
//         url("../fonts/tercera-bold/Hanson.svg") format("svg");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }
