:root {
    // COLORS//
    --rosa: #ffa0b4;
    --rosa-dark: #ff64a0;
    --azul-rey: #0099ff;
    --azul-marino: #003366;
    --verde: #00cc33;
    --verde-limon: #ccff00;
    --naranja: #ff6600;
    --gris-claro: #f0f0f0;
    --gris-medio: #e6e6e6;
    --gris-title: #d2d2d2;
    --gris: #8a8f9c;
    --gris-dark: #46505c;
    --dark: #151e2a;

    --txt-prm: #46505c; //
    // --txt-sec: #db0080;
    // --txt-ter: #112d57;
    // FONTS
    --primaria-regular: "Space Mono", monospace;
    --secundaria-regular: "APKGaleria-regular";
    // --tercera-regular: "hanson-bold", sans-serif;

    --txt-big: calc(84px + 100 * ((100vw - 1280px) / 1920)); //
    --h1: calc(64px + 78 * ((100vw - 1280px) / 1920)); //
    --h1-1: calc(52px + 78 * ((100vw - 1280px) / 1920)); //
    --h2: calc(36px + 60 * ((100vw - 1280px) / 1920)); //
    --h3: calc(32px + 36 * ((100vw - 1280px) / 1920)); //
    --h4: calc(24px + 10 * ((100vw - 1280px) / 1920));
    --h5: calc(16px + 10 * ((100vw - 1280px) / 1920));
    --h6: calc(10px + 20 * ((100vw - 1280px) / 1920));

    /// SECTIONS
    --paddingSection: 80px 40px;

    // ///// MEDIA TABLET /////
    // @media (max-width: 1024px) {
    //     --h1: calc(60px + 10 * ((100vw - 320px) / 1280));
    //     --h2: calc(36px + 10 * ((100vw - 320px) / 1280));
    //     --h3: calc(20px + 10 * ((100vw - 320px) / 1280));
    //     --h4: calc(16px + 10 * ((100vw - 320px) / 1280));
    //     --h5: calc(14px + 10 * ((100vw - 320px) / 1280));
    //     --h6: calc(12px + 10 * ((100vw - 320px) / 1280));
    //     --paddingSection: 50px 0px;
    // }

    ///// MEDIA MOBILE /////
    @media (max-width: 768px) {
        --txt-big: calc(40px + 100 * ((100vw - 360px) / 768)); //
        --h1: calc(30px + 10 * ((100vw - 360px) / 768)); //
        --h2: calc(20px + 10 * ((100vw - 360px) / 768)); //
        --h3: calc(18px + 10 * ((100vw - 360px) / 768)); //
        --h4: calc(16px + 10 * ((100vw - 360px) / 768));
        --h5: calc(12px + 10 * ((100vw - 360px) / 768));
        --h6: calc(8px + 10 * ((100vw - 360px) / 768)); //
        --paddingSection: 50px 0px;
    }
}