.about {
    .swiper {
        &-navigation {
            .swiper-button-prev,
            .swiper-button-next {
                border: 1px solid var(--rosa-dark);
                width: 50px;
                height: 50px;
                border-radius: 50%;
                color: var(--rosa-dark);
                background: url(../img/icon-arrow.svg) no-repeat center / 16px;

                &.swiper-button-disabled {
                    border-color: var(--gris) !important;
                    color: var(--gris) !important;
                    // opacity: 1;
                }

                &::after {
                    transform: scaleY(0.9);
                    font-size: x-large;
                }
            }
        }

        &-pagination {
            display: none;
        }
    }

    &--image {
        padding: 0.2em;
        width: 46.666667%;

        picture {
            border-radius: 4px;
            display: block;
            height: 99vh;
            min-height: 230px;
            margin-left: 3em;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &--info {
        padding-top: 4em;

        h1 {
            padding-left: 0.5em;
            font-size: var(--xxl);

            span {
                float: left;
                sup {
                    font-size: var(--h5);
                    font-family: var(--primaria-regular);
                    margin-right: 0.5em;
                    text-transform: uppercase;
                    top: -1.5em;
                    color: var(--gris-dark);

                    &::before {
                        content: "\2192";
                        margin-right: 0.3em;
                    }
                }
            }

            p {
                font-size: var(--xxl);
            }
        }
    }

    &--footer {
        position: fixed;
        bottom: 10px;
        width: 52%;
        z-index: 1;

        &--row {
            justify-content: space-between;
            align-items: center;
        }

        &--info {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &--legales {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 70%;
            padding: 0 1em;

            h6,
            a {
                color: #fff;
                font-size: var(--l);
                font-family: var(--secundaria-regular);
            }
        }

        &--redes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-basis: 20%;

            img {
                max-width: 22px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .about {
        margin-bottom: 3em;

        .swiper {
            &-navigation {
                display: none;
            }

            &-pagination {
                display: block;
                position: relative;
                margin-top: 2em;

                &-bullet {
                    background: var(--gris);
                }
            }
        }

        &--image {
            width: 100%;
            padding: 0;

            picture {
                margin-left: 0;
                height: auto;
                width: 80%;
                margin: auto;
                max-height: calc(360px + 500 * ((100vw - 360px) / 768));
            }
        }

        &--info {
            padding-top: 2em;

            h1 {
                p {
                    font-size: var(--h1);
                }

                span {
                    sup {
                        top: 0em;
                    }
                }
            }
        }

        &--footer {
            position: relative;
            width: 100%;
            margin-top: 2em;

            &--info {
                width: 100%;
                padding: 0.5em 2em 1em;
                flex-direction: column;
            }

            &--legales {
                padding: 0;
                width: 100%;
                margin-bottom: 1em;

                h6,
                a {
                    color: var(--dark);
                    text-align: center;
                    font-size: var(--h5);
                }
            }

            &--redes {
                width: 100%;
                justify-content: space-evenly;

                img {
                    filter: invert(1);
                }
            }
        }
    }
}
