.about {
    &--image {
        padding: 0.2em;
        width: 46.666667%;

        picture {
            border-radius: 2px;
            display: block;
            height: 99vh;
            min-height: 230px;
            margin-left: 3em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &--info {
        padding-top: 4em;

        h1 {
            padding-left: 0.5em;
            font-size: var(--h1-1);

            sup {
                font-size: var(--h5);
                font-family: var(--primaria-regular);
                margin-right: 0.5em;
                text-transform: uppercase;
                top: -2em;
                color: var(--gris-dark);

                &::before {
                    content: "\2192";
                    margin-right: 0.3em;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .about {
        margin-bottom: 7em;

        &--image {
            width: 100%;
            padding: 0;

            picture {
                margin-left: 0;
                height: auto;
                width: 80%;
                margin: auto;
            }
        }

        &--info {
            padding-top: 2em;

            h1 {
                font-size: var(--h1);

                sup {
                    top: -1em;
                }
            }
        }
    }
}