.connect {
    background: var(--azul-marino);
    
    .screen-reader-response,
    .wpcf7-response-output{
        display: none;
    }

    .header--logo {
        padding-left: var(--bs-gutter-x, 2rem);

        .logo-header {
            width: 125px;
        }
    }

    .btn-close {
        opacity: 1;
        position: absolute;
        right: 30px;
        top: 30px;
        width: calc(50px + 20 * ((100vw - 1920px) / 1280));
        height: calc(50px + 20 * ((100vw - 1920px) / 1280));
        background: url(../img/icon-close-white.png) no-repeat center / contain;
        z-index: 9;
    }

    h1 {
        color: #fff;
        text-transform: uppercase;
        font-family: var(--primaria-regular);
        font-size: var(--xl);
        margin-bottom: 1.5em;
        // padding-left: 1.5em;
    }

    &--title {
        align-self: flex-end;
    }

    &--form {
        h5 {
            color: var(--rosa-dark);
            margin-bottom: 1em;
        }

        .boton {
            width: 100%;
        }
    }

    &--disclaimer {
        color: #fff !important;
        width: 75%;
        font-family: var(--secundaria-regular);
    }
}

@media (max-width: 768px) {
    .connect {
        padding: 1em 0;

        h1 {
            text-align: center;
            font-size: var(--h1);
            margin: 1.5em auto 1em;

            br {
                display: none;
            }
        }

        &--disclaimer {
            width: 100%;
            margin-bottom: 3em;
        }

        &--form {
            h5 {
                text-align: center;
                font-size: var(--h4);
                margin: 1em auto;

                &.connect--disclaimer {
                    text-align: left;
                }
            }
        }
    }
}
