.home {
    .hero {
        display: flex;

        &--wrap {
            flex: 0.6;
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin-right: 2px;
            position: relative;
            cursor: pointer;

            @media (hover: hover) {
                &:hover {
                    .hero--wrap--hover {
                        opacity: 1;
                    }
                }
            }

            #link-home {
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;
            }

            &--hover {
                color: #fff;
                position: absolute;
                display: grid;
                place-content: center;
                width: 100%;
                height: 100%;
                text-align: center;
                opacity: 0;
                transition: 0.4s ease-in-out all;

                a {
                    z-index: 1;
                }

                h3 {
                    margin-bottom: 0.5em;
                    font-size: var(--h1-1);
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    display: block;
                    border-radius: 0 10px 10px 0;
                    background: rgba($color: #151e2a, $alpha: 0.9);
                }

                &--project,
                h3 {
                    z-index: 1;
                    color: #fff;
                }

                &--project {
                    margin-bottom: 1.5em;

                    h6,
                    h5,
                    h4 {
                        color: #fff;
                    }

                    h6 {
                        font-size: var(--h6);
                    }

                    &--title {
                        font-size: var(--ls);
                    }

                    &--data {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        h5 {
                            margin-right: 0.5em;

                            &::after {
                                content: "\2192";
                            }

                            &:last-child::after {
                                display: none;
                            }
                        }
                    }
                }
            }

            picture {
                display: block;
                // flex: 0.4;
                overflow: hidden;
                height: 360px;
                position: relative;

                // &::after {
                //     content: "";
                //     width: 100%;
                //     height: 100%;
                //     position: absolute;
                //     top: 0;
                //     z-index: 1;
                //     display: block;
                //     background: rgba($color: #000000, $alpha: 0.4);
                // }

                &:nth-child(1) {
                    border-radius: 0 10px 10px 10px;

                    img {
                        object-position: top;
                    }
                }

                &:nth-child(2) {
                    border-radius: 10px;
                    margin: 2px 0;

                    img {
                        object-position: center;
                    }
                }

                &:nth-child(3) {
                    border-radius: 10px 10px 10px 0;

                    img {
                        object-position: bottom;
                    }
                }

                img {
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .sidenav {
            list-style: none;
            padding: 0;
            flex: 0.4;
            height: 100vh;
            display: flex;
            flex-direction: column;

            a {
                font-size: var(--h2);
                display: flex;
                align-items: center;
                color: #fff;
                height: inherit;
                padding-left: 1.8em;

                li {
                    text-transform: uppercase;
                }

                @media (hover: hover) {
                    &:hover {
                        li {
                            transition: 0.3s ease-in-out all;
                            color: var(--dark);
                        }
                    }
                }

                &#li-projects {
                    border-radius: 10px 0 10px 10px;
                    background: var(--rosa);
                }

                &#li-about {
                    background: var(--azul-rey);
                    border-radius: 10px;
                    margin: 2px 0;
                }

                &#li-writin {
                    border-radius: 10px 10px 0 10px;
                    background: var(--verde);
                }

                &#li-teach {
                    background: var(--naranja);
                }

                &#li-connect {
                    background: var(--verde-limon);
                    color: var(--txt-prm);
                    cursor: pointer;
                }
            }
        }
    }

    .cita-home {
        padding: 5em;

        h1 {
            color: var(--rosa-dark);
        }
    }

    .projects-home {
        &__acceso {
            // margin-bottom: 3em;
            min-height: calc(600px + 250 * ((100vw - 1920px) / 1280));
            border-radius: 6px;

            h3 {
                color: #fff;
                font-size: var(--h2);
            }

            a {
                color: #fff;
                display: grid;
                place-items: center;
                height: 100%;
                width: 100%;

                @media (hover: hover) {
                    &:hover {
                        h3 {
                            transition: 0.3s ease-in-out all;
                            filter: invert(1);
                        }
                    }
                }
            }

            &--projects a {
                background: var(--rosa);
            }

            &--writting a {
                background: var(--verde);
            }

            &--teaching a {
                background: var(--naranja);
            }

            &--about a {
                background: var(--azul-rey);
            }

            &--connect a {
                background: var(--verde-limon);
                cursor: pointer;

                h3 {
                    color: var(--gris-dark);
                }
            }
        }

        &--wrap {
            width: 100%;
        }
    }

    .footer {
        opacity: 0;
        transition: 0.3s ease-in-out all;

        &.show {
            opacity: 1;
        }
    }
}

.coming {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    h1 {
        font-family: var(--primaria-regular);
        text-align: center;
        font-size: var(--xl);
    }

    img {
        max-width: 350px;
    }
}

@media (max-width: 768px) {
    .coming {
        img {
            max-width: 280px;
        }
    }

    .home {
        .hero {
            flex-direction: column;

            &--wrap {
                flex: auto;
                height: 50vh;

                &.active {
                    .btnHover {
                        z-index: 999;
                    }
                }

                .btnHover {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    margin: auto;
                    display: grid;
                    place-items: center;
                    color: #fff;
                    font-size: xx-large;
                    z-index: -1;

                    &::after {
                        content: "";
                        background: url(../img/icon-close.svg) center/contain
                            no-repeat;
                        width: 20px;
                        height: 20px;
                    }

                    &.active {
                        background: var(--gris);
                        z-index: 1;

                        &::after {
                            content: "-";
                            align-self: flex-start;
                        }
                    }
                }

                &--hover {
                    z-index: -1;
                    padding-top: 50px;

                    &.active {
                        z-index: 1;
                        opacity: 1;
                    }

                    h3 {
                        font-size: var(--h1);
                    }
                }

                picture {
                    height: calc(100% / 3);

                    &:nth-child(1) {
                        border-radius: 0 5px 5px 5px;
                    }

                    &:nth-child(2) {
                        border-radius: 5px;
                        margin: 1px 0;
                    }

                    &:nth-child(3) {
                        border-radius: 5px 5px 5px 0;
                    }
                }
            }

            .sidenav {
                flex: auto;
                height: 50vh;
                margin-top: 2px;
                margin-bottom: 0;

                a {
                    height: calc(100% / 3);
                    font-size: var(--h3);
                    padding: 0;

                    &:nth-child(1) {
                        border-radius: 0 5px 5px 5px;
                    }

                    &:nth-child(2) {
                        border-radius: 5px;
                    }

                    &:nth-child(2) {
                        border-radius: 5px 5px 5px 0;
                    }

                    li {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }

        .cita-home {
            padding: 1rem;
        }

        .projects-home {
            &__acceso {
                min-height: 200px;
            }
        }
    }
}
