.projects-home {
    padding: 5em 0;

    .grid {
        h1 {
            font-size: var(--h5);
            color: var(--gris);
            font-family: var(--primaria-regular);
        }

        &--head {
            margin-bottom: 1em;
            & > .row {
                gap: 0;
                justify-content: initial;

                &.par {
                    flex-direction: row-reverse;
                }
            }

            .project__item {
                display: flex !important;
                width: auto !important;
                padding: 0 !important;
            }

            .project__info {
                padding-right: 0;

                .project__date {
                    & > * {
                        font-size: var(--h5);
                        font-family: var(--primaria-regular);
                    }
                }
            }
        }

        &--wrap {
            // margin-bottom: 10em;
            display: flex;
            flex-direction: column;
            row-gap: 80px;
            margin-top: 10em;

            &.par {
                flex-direction: column-reverse;
            }

            & > a {
                &:nth-child(odd) {
                    // top: 10em;
                    position: relative;

                    .project__item {
                        margin-left: 40%;
                    }
                }
            }
        }

        .project__item {
            width: 58.33333333% !important;
            padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
            padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
            justify-content: center;

            .row {
                // padding-top: 4em;
                // padding-bottom: 4em;
                // width: 50%;
                display: inline-flex;
                row-gap: 0;

                picture {
                    height: calc(624px + 350 * ((100vw - 1920px) / 1280));
                    border-radius: 6px;
                    overflow: hidden;
                }
            }

            picture {
                border-radius: 6px;
                overflow: hidden;
            }
        }

        &__description {
            h3 {
                color: var(--gris);
                font-size: var(--xl);
                font-family: var(--secundaria-regular);
                // display: flex;
                // align-items: baseline;

                sup {
                    font-size: var(--l);
                    font-family: var(--primaria-regular);
                    color: var(--naranja);
                    text-transform: uppercase;
                    top: 0.5em;
                    margin-right: 1.5em;
                    // float: left;
                    margin-bottom: 2em;
                    display: block;

                    &::before {
                        content: "\2192";
                        font-family: x-large;
                        margin-right: 0.5em;
                    }
                }

                & > *:not(sup) {
                    color: var(--gris);
                    font-size: var(--xl);
                    font-family: var(--secundaria-regular);
                    // display: flex;
                    // align-items: flex-start;
                }
            }
        }
    }

    &__quotes {
        font-size: var(--h1);
        color: var(--gris);
        font-family: var(--secundaria-regular);
        margin: 1em 0;
        // display: none;
    }

    #quotes-one,
    #quotes-two {
        & > * {
            font-size: var(--h1);
            color: var(--gris);
            font-family: var(--secundaria-regular);
        }
    }
}

@media (max-width: 1024px) {
    .projects-home {
        .grid {
            .grid--wrap > a:nth-child(odd) .project__item {
                margin-left: 0;
            }

            .project__item {
                width: 100% !important;
                margin-bottom: 30px;
                column-gap: 0;

                .row {
                    column-gap: 0;
                }
            }

            &--wrap {
                margin-bottom: 0em;
                row-gap: 30px;
                margin-top: 2em;

                &.par {
                    flex-direction: column !important;

                    a:nth-child(1) {
                        .project__item {
                            flex-direction: row;

                            .project__info {
                                padding-right: 15px;
                            }

                            picture {
                                padding-right: 0;
                                padding-left: 15px;
                            }
                        }
                    }

                    a:nth-child(2) {
                        .project__item {
                            flex-direction: row-reverse;

                            .project__info {
                                padding-left: 15px;
                            }
                        }
                    }
                }

                > a {
                    top: 2em !important;
                    margin-bottom: 5em;
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(odd) .project__item {
                        flex-direction: row-reverse;
                        margin-left: 0;

                        picture {
                            padding-right: 15px;
                            padding-left: 0;
                        }

                        &__place {
                            left: 66.66666667%;
                        }
                    }
                }
            }

            &--head {
                padding: var(--bs-gutter-x, 2rem);
                max-width: none;
            }
            &__description {
                h3 > :not(sup) {
                    font-size: var(--h1);
                }
            }

            // .grid--head > .row {
            //     flex-direction: column-reverse;
            // }
        }
    }
}

@media (max-width: 768px) {
    .projects-home {
        padding-top: 1em !important;

        h1 {
            margin-bottom: 2.5em;
        }

        .grid {
            &--head {
                padding: 0 var(--bs-gutter-x, 0.75rem);

                & > .par {
                    .project__item .row {
                        flex-direction: row-reverse;
                    }

                    .col-8 {
                        padding-left: 0;
                    }
                }
            }

            .project__item {
                width: 100% !important;
                order: 2;
                position: relative;
                gap: 0;
                margin-top: 60px;

                .row {
                    padding-bottom: 0;
                    gap: 0 !important;
                }

                .col-8 {
                    padding-right: 0;
                }

                picture {
                    height: calc(
                        300px + 620 * (100vw - 360px) / 768
                    ) !important;
                    padding-left: 0;
                    width: 100%;
                }

                &__place {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: auto;
                }
            }

            &__description {
                h3 {
                    & > *:not(sup) {
                        font-size: var(--h1);
                    }

                    sup {
                        font-size: var(--h5);
                    }
                }
            }

            &--wrap {
                margin-bottom: 0em;
                row-gap: 30px;
                margin-top: 2em;

                &.par {
                    flex-direction: column !important;

                    a:nth-child(1) {
                        .project__item {
                            flex-direction: row;

                            .project__info {
                                padding-right: 15px;
                            }

                            picture {
                                padding-right: 0;
                                padding-left: 15px;
                            }
                        }
                    }

                    a:nth-child(2) {
                        .project__item {
                            flex-direction: row-reverse;

                            .project__info {
                                padding-left: 15px;
                            }
                        }
                    }
                }

                > a {
                    top: 2em !important;
                    margin-bottom: 5em;
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(odd) .project__item {
                        flex-direction: row-reverse;
                        margin-left: 0;

                        picture {
                            padding-right: 15px;
                            padding-left: 0;
                        }

                        &__place {
                            left: 66.66666667%;
                        }
                    }
                }
            }
        }

        #quotes-one,
        #quotes-two {
            & > * {
                padding: 0 15px;
            }
        }
    }
}
