.project-detail {
    .project__item {
        margin-bottom: 2em;

        h1 {
            font-size: var(--h5);
            color: #fff;
            font-family: var(--primaria-regular);
            position: absolute;
            top: 5em;
            left: 0;
            right: 0;
            z-index: 1;
        }

        &--info {
            padding-top: 9em;
            position: relative;

            & > div {
                padding-left: 1.3em;
            }

            &--cat {
                font-family: var(--primaria-regular);
                color: var(--naranja);
                text-transform: uppercase;
                margin-bottom: 1.5em;

                &::before {
                    content: "\2192";
                    margin-right: 0.3em;
                }
            }
        }

        &--image {
            picture {
                height: calc(620px + 750 * ((100vw - 1280px) / 1920));
                border-radius: 0 0 6px 6px;
                overflow: hidden;
            }
        }
    }

    .projects__quotes {
        margin: 1em auto;
        font-size: var(--h1);
        font-family: var(--secundaria-regular);
    }

    .gallery {
        .swiper {
            overflow: initial;
            overflow-y: clip;
            height: calc(840px + 400 * ((100vw - 1920px) / 1280));

            &-wrapper {
                position: relative;
            }

            &-slide {
                // display: grid;
                // place-content: center;
                position: relative;

                a {
                    position: absolute;

                    img {
                        transform: scale(0);
                        opacity: 0;
                        border-radius: 6px;
                        max-width: calc(
                            400px + 600 * ((100vw - 1280px) / 1920)
                        );
                        max-height: calc(
                            350px + 600 * ((100vw - 1280px) / 1920)
                        );
                    }

                    &#image1,
                    &#image7 {
                        left: 0;
                        top: 12em;
                    }

                    &#image2,
                    &#image8 {
                        left: 15%;
                        top: 5em;
                        z-index: 1;
                    }

                    &#image3,
                    &#image9 {
                        left: 20%;
                        top: 0;
                    }

                    &#image4,
                    &#image10 {
                        left: 40%;
                        top: 12em;
                        z-index: 2;
                    }

                    &#image5,
                    &#image11 {
                        right: 5%;
                        top: 3em;
                        z-index: 1;
                    }

                    &#image6,
                    &#image12 {
                        right: 0;
                        top: 15em;
                    }
                }
            }

            &-pagination {
                right: -40px;

                .swiper-pagination-bullet {
                    // background: var(--rosa-dark);
                    background: var(--gris);
                    width: calc(14px - 5 * ((100vw - 1920px) / 1280));
                    height: calc(14px - 5 * ((100vw - 1920px) / 1280));
                    margin: 1em 0;
                }
            }

            &-navigation {
                display: none;
                position: absolute;
                right: 30px;
                top: 0;
                bottom: 0;
                transform: rotateZ(270deg);
                z-index: 1;

                .swiper-button {
                    &-next {
                        left: 70px;
                    }
                }

                // .swiper-button-prev,
                // .swiper-button-next {
                // }
            }
        }
    }

    .related {
        // .project-simple {
        //     min-height: 300px;

        //     .projects-home__card__hover__title::before {
        //         display: none;
        //     }
        // }
        .title-section {
            color: var(--gris);
            text-transform: uppercase;
            display: flex;
            flex-direction: column;

            &::after {
                content: "\2192";
                margin-right: 0.3em;
                transform: rotateZ(90deg);
            }
        }
    }
}

.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .lb-outerContainer {
        // min-height: 700px;
        // min-width: 700px;
        width: 95vw !important;
        height: 100vh !important;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        background: transparent;
    }

    .lb-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: auto;
    }

    .lb-image {
        background-origin: border-box;
        background-clip: border-box;
        width: auto !important;
        height: 90vh !important;
        border: 0;
        border-radius: 6px;
        max-width: 100% !important;
    }

    .lb-details {
        display: none;
    }

    .lb-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            border: 1px solid var(--gris-claro);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../img/icon-arrow.svg) no-repeat center / 12px;

            &.lb-prev {
                transform: rotate(180deg);
            }
        }
    }

    .lb-data .lb-close {
        background: url(../img/icon-close-white.png) no-repeat center / cover;
        // background: url(../img/icon-close.svg) no-repeat center / cover;
        opacity: 1;
        width: 50px;
        height: 50px;
        z-index: 999;
    }
}

@media (max-width: 768px) {
    .lightbox {
        .lb-nav a {
            width: 30px;
            height: 30px;
            background-size: 9px;
        }

        .lb-close {
            width: 30px !important;
            height: 30px !important;
            top: 50px;
        }

        .lb-container {
            width: 75%;
        }

        .lb-outerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .lb-image {
            height: auto !important;
        }
    }

    .project-detail {
        .project__item {
            margin-bottom: 1em;

            h1 {
                top: 2.5em;
            }

            &--info {
                padding: 2em 30px 0;
                order: 2;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                &--cat {
                    display: none;
                }

                > div {
                    padding: 0.5em;
                    flex-basis: 50%;
                    max-width: 50%;
                }

                ul {
                    display: none;
                }
            }

            &__body {
                padding: 0 0 0 2em !important;
                margin: 0;
                flex-basis: 50%;

                &__title {
                    font-size: var(--h6);
                }
            }

            &--row {
                justify-content: center;
            }
        }

        .gallery {
            .swiper {
                padding-right: 20px;
                height: calc(430px + 400 * (100vw - 360px) / 768);
            }

            .swiper-pagination {
                right: 0;

                &-bullet {
                    width: 12px !important;
                    height: 12px !important;
                }
            }

            .swiper-slide a img {
                max-width: calc(200px + 400 * (100vw - 360px) / 768);
                max-height: calc(200px + 400 * (100vw - 360px) / 768);
            }
        }

        .related {
            padding-bottom: 5em;

            .project-simple {
                min-height: auto;
            }
        }
    }
}
