.projects {
    padding: 5em 0;

    .grid {
        h1 {
            font-size: var(--h5);
            color: var(--gris);
            font-family: var(--primaria-regular);
        }

        &--head {
            .project__item {
                display: flex !important;
                width: auto !important;
                padding: 0 !important;
            }
        }

        &--wrap {
            // margin-bottom: 10em;

            &>a {
                &:nth-child(odd) {
                    // top: 10em;
                    position: relative;

                    .project__item {
                        margin-left: 40%;
                    }
                }
            }
        }

        .project__item {
            width: 58.33333333% !important;
            padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
            padding-left: calc(var(--bs-gutter-x) * 0.5) !important;

            .row {
                padding-top: 4em;
                padding-bottom: 4em;
                // width: 50%;
                display: inline-flex;

                picture {
                    height: calc(450px + 620 * ((100vw - 1280px) / 1920));
                }
            }
        }

        &__description {
            h3 {
                color: var(--gris);
                font-family: var(--secundaria-regular);

                sup {
                    font-size: var(--h6);
                    font-family: var(--primaria-regular);
                    color: var(--naranja);
                    text-transform: uppercase;
                    top: -1.5em;
                    margin-right: 1.5em;

                    &::before {
                        content: "\2192";
                        font-family: x-large;
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }

    &__quotes {
        font-size: var(--h1);
        color: var(--gris);
        font-family: var(--secundaria-regular);
        margin: 1em 0;
    }
}

@media (max-width: 768px) {
    .projects {
        padding-top: 2em;

        .grid {
            .project__item {
                width: 100% !important;
                order: 2;
                position: relative;

                .row {
                    padding-bottom: 0;
                }

                picture {
                    height: calc(300px + 620 * (100vw - 360px) / 768) !important;
                }

                &__place {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: auto;
                }
            }

            &__description {
                h3 {
                    font-size: var(--h1);

                    sup {
                        top: -0.5em;
                    }
                }
            }

            &--wrap {
                margin-bottom: 0em;

                >a {
                    top: 2em !important;
                    margin-bottom: 5em;
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(odd) .project__item {
                        flex-direction: row-reverse;
                        margin-left: 0;

                        .project__info {
                            padding-left: 15px;
                        }

                        &__place {
                            left: 66.66666667%;
                        }
                    }
                }
            }
        }
    }
}