.projects-home {
    padding: 5em 0;

    h1 {
        font-size: var(--h5);
        color: var(--gris);
        font-family: var(--primaria-regular);
        margin-bottom: 5em;
    }

    .col-lg-4 {
        transition: 0.4s ease-in-out all;
    }

    &__card {
        margin-bottom: 3em;
        position: relative;
        overflow: hidden;

        &.tipo-uno {
            align-items: flex-end;

            .projects-home__card__title {
                margin: 0 0 0.5em 0;
            }
        }

        &.tipo-dos {
            align-items: flex-start;

            .projects-home__card__title {
                margin: 0.5em 0 0 0;
            }
        }

        &.tipo-tres {
            align-items: flex-start;
            flex-direction: row-reverse;

            .projects-home__card__title {
                margin: 0.5em 0.3em 0 0;
            }
        }

        &.tipo-cuatro {
            align-items: flex-end;
            flex-direction: row-reverse;

            .projects-home__card__title {
                margin: 0.5em 0.3em 0 0;
            }
        }

        @media (hover: hover) {
            &:hover {
                .projects-home__card__hover {
                    opacity: 1;
                    transform: rotateZ(180deg) translateX(0);
                }
            }
        }

        &__images {
            flex-basis: 90%;

            &__img {
                height: 200px;
                width: 100%;
                overflow: hidden;
                margin: 0.2em 0;
                border-radius: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        &__title {
            flex-basis: 10%;
            transform: rotateZ(180deg);
            writing-mode: vertical-lr;
            font-family: var(--secundaria-regular);
            color: var(--gris);
            text-transform: capitalize;
            // margin: 0 0 0.5em 0;
        }

        &__hover {
            position: absolute;
            transform: rotateZ(180deg) translateX(-100%);
            writing-mode: vertical-rl;
            background: rgba($color: #000, $alpha: 0.8);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: 5px;
            overflow: hidden;
            opacity: 0;

            transition: 0.3s ease-in-out all;

            > h5 {
                margin: 0;
                color: #fff;
                padding: 0.5em 0;
            }

            &__projects {
                display: flex;
                padding: 0.5em 0;
                margin-left: 0.5em;
            }

            &__title {
                margin: 0 0 0.5em 0;
                color: #fff;

                &::after {
                    content: "\2192";
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            h4 {
                font-size: var(--h3);
                color: #fff;
                text-transform: capitalize;
                background: var(--gris-dark);
                margin: 0;
                font-family: var(--secundaria-regular);
                padding: 0.3em 0.5em;
            }
        }
    }
}

@media (max-width: 768px) {
    .projects {
        padding-top: 2em;

        .grid {
            .project__item {
                width: 100% !important;
                order: 2;
                position: relative;

                .row {
                    padding-bottom: 0;
                }

                picture {
                    height: calc(
                        300px + 620 * (100vw - 360px) / 768
                    ) !important;
                }

                &__place {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: auto;
                }
            }

            &__description {
                h3 {
                    font-size: var(--h1);

                    sup {
                        top: -0.5em;
                    }
                }
            }

            &--wrap {
                margin-bottom: 0em;

                > a {
                    top: 2em !important;
                    margin-bottom: 5em;
                    display: block;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:nth-child(odd) .project__item {
                        flex-direction: row-reverse;
                        margin-left: 0;

                        .project__info {
                            padding-left: 15px;
                        }

                        &__place {
                            left: 66.66666667%;
                        }
                    }
                }
            }
        }
    }
}
