.writing {
    .papers {
        padding: 5em 0;

        h1 {
            font-size: var(--h5);
            font-family: var(--primaria-regular);
            color: var(--gris);
            margin-bottom: 4em;
        }

        &__item {
            transition: 0.3s ease-in-out all;

            &:nth-child(2) {
                opacity: 1 !important;
            }

            @media (hover: hover) {
                &:hover {
                    background: var(--gris-medio);

                    * {
                        color: var(--rosa-dark);
                    }
                }
            }

            &:last-child a {
                border-bottom: none;
            }

            a {
                border-bottom: 1px solid var(--gris);
                display: block;
            }

            p {
                font-size: var(--h1);
                line-height: 1;
                color: var(--gris);
                font-family: var(--secundaria-regular);
                padding: 0.1em 0;
                transition: 0.3s ease-in-out all;

                sup {
                    top: -2em;
                    font-size: var(--l);
                }

                span:not(.parrafo) {
                    font-size: var(--xl);
                    bottom: 20px;
                    position: relative;
                }
            }

            h3 {
                color: var(--gris);
                font-family: var(--secundaria-regular);
                text-align: right;
                transition: 0.3s ease-in-out all;

                sup {
                    top: -0.7em;
                }
            }

            sup {
                font-size: var(--h5);
                font-family: var(--primaria-regular);
                margin-right: 0.5em;

                &::before {
                    content: "\2192";
                    margin-right: 0.3em;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .writing {
        .papers {
            padding: 2em 0;

            &__item {
                padding-top: 2em;

                p {
                    margin-bottom: 1em;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                    overflow: hidden;

                    sup {
                        top: -1em;
                    }
                }

                h3 {
                    sup {
                        font-size: var(--h6);
                    }
                }
            }
        }
    }
}
