& {
    overflow-x: hidden;
    position: relative;
    font-family: var(--primaria-regular);
    background: var(--gris-claro);

    .container-fluid {
        padding-right: var(--bs-gutter-x, 2rem);
        padding-left: var(--bs-gutter-x, 2rem);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
        line-height: normal;
        color: var(--gris);
    }
    h1 {
        font-size: var(--h1);
        font-family: var(--secundaria-regular);
        line-height: 1;
    }
    h2 {
        font-size: var(--h2);
    }
    h3 {
        font-size: var(--h3);
    }
    h4 {
        font-size: var(--h4);
    }
    h5 {
        font-size: var(--h5);
    }
    h6 {
        font-size: var(--h6);
    }
    p {
        font-size: var(--h4);
    }
    a {
        text-decoration: none;
        color: inherit;

        @media (hover: hover) {
            &:hover {
                color: inherit;
            }
        }
    }
}

// /// TABLET
// @media (max-width:1024px) {
//     & {}
// }

/// MOBILE
@media (max-width: 768px) {
    & {
        .container-fluid {
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
        }
    }
}
