extends includes/head.pug
block head-page
    title Linked | About
    script(src="js/nav.min.js" defer)
    script(src="js/animaciones-about.min.js" defer)


block content
    -ruta = ""
    include includes/header.pug

    main.about
        section 
            .container-fluid 
                .row 
                    .offset-lg-1.col-lg-5.about--image 
                        picture 
                            source(srcset="img/about.webp", type="image/webp")
                            img.img-fluid(src="img/about.jpg", alt="")

                    .col-lg-5.about--info
                        h1
                            sup Matei Denes
                            | “We are not men and women, we are humans, we are nature, we are things, projects are things, they are nature, they are human, they are us.”



    include includes/footer-full.pug
