extends includes/head.pug
block head-page
    title Linked 
    script(src="js/animaciones.min.js" defer)

block content
    -ruta = ""
    header.header
        .container-fluid
            .row
                .col-6.col-lg-2.header--logo
                    a(href='../')
                        img.img-fluid.logo-header(src='img/logo-linked-blanco.svg' alt)

    main.home
        section.hero
            .hero--wrap
                picture
                    img.img-fluid(src='img/images1.jpg' alt)
                picture
                    img.img-fluid(src='img/layout5.jpg' alt)
                picture
                    img.img-fluid(src='img/layout6.jpg' alt)

                .hero--wrap--hover
                    h3 SUSTAINABILITY

                    a(href="project-home.html") 
                        .hero--wrap--hover--project
                            h6 PROJECT
                            h4.hero--wrap--hover--project--title.

                                Richar Prince

                            .hero--wrap--hover--project--data
                                h5.hero--wrap--hover--project--status.
                                    Unbuilded

                                h5.hero--wrap--hover--project--subcat.
                                    Experimental


                        .hero--wrap--hover--project
                            h6 PROJECT
                            h4.hero--wrap--hover--project--title.

                                Pitesti

                            .hero--wrap--hover--project--data
                                h5.hero--wrap--hover--project--status.

                                    Sustainable

                                h5.hero--wrap--hover--project--subcat.

                                    Builded

                                h5.hero--wrap--hover--project--type.

                                    Enviromental


                        .hero--wrap--hover--project
                            h6 PROJECT
                            h4.hero--wrap--hover--project--title.

                                Big Daddy

                            .hero--wrap--hover--project--data
                                h5.hero--wrap--hover--project--subcat.

                                    Builded

                                h5.hero--wrap--hover--project--type.

                                    Personal

                .btnHover

            ul.sidenav
                a(href='projects.html')
                    li PROJECTS
                a(href='about.html')
                    li ABOUT
                a#li-connect(data-bs-toggle="modal", data-bs-target="#exampleModal")
                    li CONNECT

        section.cita-home
            h1 Sometimes I do write for the sake of argument, because I think it is an interesting topic and I want to see how the discussion can go, a sort of devil’s advocateand the text goes further here.

        section.projects-home
            .container-fluid
                .row
                    - var n = 0;
                    while n < 19
                        - ++n
                        .col-lg-4.col-12
                            .projects-grid--wrap
                                .projects-home__card__images__img(titulo='Worl Trade Center')
                                    img.img-fluid(src='img/images1.jpg' alt)

                                .projects-home__card__images__img
                                    img.img-fluid(src='img/images1.jpg' alt)

                                .projects-home__card__images__img
                                    img.img-fluid(src='img/images1.jpg' alt)

                            h3.projects-home__card__title 
                                | Typology 
                                .btnHoverGrid

                            .projects-home__card__hover__projects
                                h5.title-categoria PROJECTS

                                .projects-home__card__hover__projects__links
                                    a(href="project-home.html")
                                        h5.projects-home__card__hover__title Worl Trade Center

                                    a(href="project-home.html")
                                        h5.projects-home__card__hover__title Transparencias

                                    a(href="project-home.html") 
                                        h5.projects-home__card__hover__title Agricultura

                                h4 Typology 
                                    .btnHoverGridInt

                    .col-lg-4.col-12.projects-home__acceso.projects-home__acceso--projects
                        a(href='projects.html')
                            h3 PROJECTS

                    .col-lg-4.col-12.projects-home__acceso.projects-home__acceso--about
                        a(href='about.html')
                            h3 ABOUT

                    .col-lg-4.col-12.projects-home__acceso.projects-home__acceso--connect(data-bs-toggle="modal", data-bs-target="#exampleModal")
                        a
                            h3 CONNECT

        include includes/footer.pug
    include includes/modal-connect.pug
