extends includes/head.pug
block head-page
    title Linked 
    script(src="js/nav.min.js" defer)

block content
    -ruta = ""

        include includes/header.pug
        main.legales 
            section
                .container-lg
                    .col-10.m-auto
                        h1.txt-xxl Privacy Policy 
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate eaque hic saepe quos aspernatur inventore eius labore illum amet minima tenetur quia unde, architecto fugit magni ex molestiae voluptatum in?

            include includes/footer.pug

