extends includes/head.pug
block head-page
    title Linked | Projects
    script(src="js/animaciones-projects.min.js" defer)
    script(src="js/nav.min.js" defer)

block content
    -ruta = ""
    include includes/header.pug

    main.projects-home
        section.grid
            .container.grid--head
                h1.text-center PROJECTS
                .row.mt-5.mb-5
                    .col-lg-7.project__item
                        a(href='project-detail.html')
                            .row
                                .col-lg-3.col-4.project__info
                                    h6.project__title PROJECT
                                    h4.project__name Pitesti
                                    ul
                                        li Sustainable
                                        li Builded
                                        li Enviromental
                                        li Sustainable
                                        li Builded
                                        li Enviromental
                                        li Sustainable
                                        li Builded
                                        li Enviromental
                                        li Sustainable
                                        li Builded
                                        li Enviromental

                                    h6.project__date 
                                        p 2015
                                    //- h6.project__country Romania
                                    //- h6.project__location 21 273, 92 sqm

                                .col-lg-7.col-8
                                    picture
                                        source(srcset='img/images1.jpg', type='image/webp')
                                        img.img-fluid(src='img/images1.jpg' alt)

                    .col-lg-5.grid__description
                        h3
                            sup Sustainable
                            p The capacity to maintain or improve the state and availability of desirable materials or conditions over the long terms into environments.

            .container-fluid#quotes-one
                p.projects-home__quotes 
                    p The capacity to maintain or improve the state and availability of desirable materials or conditions over the long terms into environments.

            .container.grid--wrap#grid--wrap-one
                a(href='project-detail.html')
                    .row.project__item
                        .col-lg-3.col-4.project__info
                            h6 PROJECT
                            h4.project__name Pitesti
                            ul
                                li Sustainable
                                li Builded
                                li Enviromental
                                li Sustainable
                                li Builded
                                li Enviromental
                                li Sustainable
                                li Builded
                                li Enviromental

                            h6.project__date 2015
                            h6.project__country Romania
                            h6.project__location.

                                21 273, 92 sqm

                        .col-lg-7.col-8
                            picture
                                source(srcset='img/images1.jpg', type='image/webp')
                                img.img-fluid(src='img/images1.jpg' alt)


                a(href='project-detail.html')
                    .row.project__item
                        .col-lg-3.col-4.project__info
                            h6 PROJECT
                            h4.project__name Pitesti
                            ul
                                li Sustainable
                                li Builded
                                li Enviromental
                            h6.project__date 2015
                            h6.project__country Romania
                            h6.project__location.

                                21 273, 92 sqm

                        .col-lg-7.col-8
                            picture
                                source(srcset='img/images1.jpg', type='image/webp')
                                img.img-fluid(src='img/images1.jpg' alt)

            .container-fluid#quotes-two
                p.projects-home__quotes 
                    p The long terms into environment. Improve the state and availability of desirable materials or conditions over.


    include includes/footer.pug
