extends includes/head.pug
block head-page
    title Linked | Projects
    script(src="js/animaciones-projects.min.js" defer)
    script(src="js/nav.min.js" defer)

block content
    -ruta = ""
    include includes/header.pug

    main.home
        section.projects-home
            h1.text-center PROJECTS
            .container-fluid
                .row
                    .col-lg-4.col-12
                        a(href='project-home.html')
                            .projects-home__card.d-flex.tipo-uno(categoria='Typology')
                                .projects-home__card__images
                                    .projects-home__card__images__img(titulo='Worl Trade Center')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Transparencias')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Agricultura')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Typology

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Typology

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-dos(categoria='Contrast')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Contrast

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Contrast

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-uno(categoria='Terrain')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Terrain

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Terrain

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-tres(categoria='Environment')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Environment

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Environment

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-cuatro(categoria='Imagination')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Imagination

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Imagination

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-uno(categoria='Typology')
                                .projects-home__card__images
                                    .projects-home__card__images__img(titulo='Worl Trade Center')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Transparencias')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Agricultura')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Typology

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Typology

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-dos(categoria='Contrast')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Contrast

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Contrast

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-uno(categoria='Terrain')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Terrain

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Terrain

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-tres(categoria='writing')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    writing

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 writing

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-uno(categoria='Terrain')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Terrain

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Terrain

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-tres(categoria='Environment')
                                .projects-home__card__images
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Environment

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Environment

                    .col-lg-4.col-12
                        a(href="project-home.html")
                            .projects-home__card.d-flex.tipo-uno(categoria='Typology')
                                .projects-home__card__images
                                    .projects-home__card__images__img(titulo='Worl Trade Center')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Transparencias')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                    .projects-home__card__images__img(titulo='Agricultura')
                                        img.img-fluid(src='img/images1.jpg' alt)
                                h3.projects-home__card__title.

                                    Typology

                                .projects-home__card__hover
                                    h5 PROJECTS
                                    .projects-home__card__hover__projects
                                        h5.projects-home__card__hover__title.

                                            Worl Trade Center

                                        h5.projects-home__card__hover__title.

                                            Transparencias

                                        h5.projects-home__card__hover__title.

                                            Agricultura

                                    h4 Typology



    include includes/footer.pug
