extends includes/head.pug
block head-page
    title Linked | Project Detail
    <!- SLIDER -->
    //- JQUERY
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")

    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css' defer)
    script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer)
    script(type="text/javascript", src="js/lightbox.min.min.js" defer)
    script(src="js/sliders.min.js" defer)
    script(src="js/animaciones-detail-project.min.js" defer)
    script(src="js/nav.min.js" defer)


block content
    -ruta = ""
    include includes/header.pug

    main.project-detail
        section.project__item
            .container
                h1.text-center PROJECTS
                .row.project__item--row
                    .col-lg-2.project__item--info
                        h5.project__item--info--cat PITESTI
                        .project__item
                            h6 PROJECT
                            h4.project__name Pitesti
                            ul
                                li Sustainable
                                li Builded
                                li Enviromental
                                li Sustainable
                                li Builded
                                li Enviromental

                            h6.project__date 2015
                            h6.project__country Romania
                            h6.project__location.

                                21 273, 92 sqm

                        .project__item__body
                            h6.project__item__body__title.

                                Body A

                            p.

                                office building whit height regime 35+P+10E

                        .project__item__body
                            h6.project__item__body__title.

                                Body B

                            p.

                                office building whit height regime 35+P+10E

                        .project__item__body
                            h6.project__item__body__title.

                                Body C

                            p.

                                office building whit height regime 35+P+10E

                    .col-9.project__item--image
                        picture
                            img.img-fluid(src='img/layout6.jpg' alt)
        .container-fluid
            p.projects__quotes The capacity to maintain or improve the state and availability of desirable materials or conditions over the long terms into environments.

        section.gallery
            .container
                .row
                    .col-12
                        .swiper.slider-detail
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="img/layout5.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout5.jpg' alt)

                                    a(href="img/layout2.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout2.jpg' alt)

                                    a(href="img/layout3.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout3.jpg' alt)

                                    a(href="img/layout.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout.jpg' alt)

                                    a(href="img/layout4.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout4.jpg' alt)

                                    a(href="img/layout6.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout6.jpg' alt)

                                .swiper-slide
                                    a(href="img/layout5.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout5.jpg' alt)

                                    a(href="img/layout2.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout2.jpg' alt)

                                    a(href="img/layout3.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout3.jpg' alt)

                                    a(href="img/layout.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout.jpg' alt)

                                    a(href="img/layout4.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout4.jpg' alt)

                                    a(href="img/layout6.jpg", data-lightbox="galeria-desktop")
                                        picture
                                            img.img-fluid(src='img/layout6.jpg' alt)



                            .swiper-pagination

                            .swiper-navigation
                                .swiper-button-prev
                                .swiper-button-next

        section.related.projects-home
            .container-fluid 
                h5.text-center.mb-4.title-section related projects

                .row 
                    - var n = 0;
                    while n < 3
                        - ++n
                        .col-lg-4.col-12
                            .projects-grid--wrap
                                .projects-home__card__images__img(titulo='Worl Trade Center')
                                    img.img-fluid(src='img/images1.jpg' alt)

                                .projects-home__card__images__img
                                    img.img-fluid(src='img/images1.jpg' alt)

                                .projects-home__card__images__img
                                    img.img-fluid(src='img/images1.jpg' alt)

                            h3.projects-home__card__title 
                                | Typology 
                                .btnHoverGrid

                            .projects-home__card__hover__projects
                                h5.title-categoria PROJECTS

                                .projects-home__card__hover__projects__links
                                    a(href="project-home.html")
                                        h5.projects-home__card__hover__title Worl Trade Center

                                    a(href="project-home.html")
                                        h5.projects-home__card__hover__title Transparencias

                                    a(href="project-home.html") 
                                        h5.projects-home__card__hover__title Agricultura

                                h4 Typology 
                                    .btnHoverGridInt


    include includes/footer.pug
