.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 33.33333%;
    z-index: 99;

    @media (hover: hover) {
        &:hover {
            h5::after {
                transform: translateX(20px);
            }
        }
    }

    &--connect {
        background: var(--verde-limon);
        width: 100%;
        border-radius: 6px;

        button {
            appearance: none;
            background: transparent;
            outline: 0;
            border: 0;
            padding: 1em 3em;
            width: 100%;
            text-align: left;
            display: flex;
            justify-content: space-between;
            font-size: var(--h5);
            color: var(--dark) !important;

            &::after {
                content: "\2192";
                font-family: x-large;
                transition: 0.3s ease-in-out all;
            }
        }
    }

    h5 {
        display: flex;
        justify-content: space-between;

        &::after {
            content: "\2192";
            font-family: x-large;
            transition: 0.3s ease-in-out all;
        }
    }

    &--row {
        justify-content: space-between;
        align-items: center;
    }

    &--info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 54.333333%;
    }

    &--legales {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 70%;
        padding: 0 1em;

        h6,
        a {
            color: #fff;
            font-size: var(--l);
            font-family: var(--secundaria-regular);
        }
    }

    &--redes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 20%;

        img {
            max-width: 22px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        width: 100%;

        &--info {
            width: 100%;
            padding: 0.5em 2em 1em;
            flex-direction: column;
        }

        &--legales {
            padding: 0;
            width: 100%;
            margin-bottom: 1em;

            h6,
            a {
                color: var(--dark);
                text-align: center;
                font-size: var(--h5);
            }
        }

        &--redes {
            width: 100%;
            justify-content: space-evenly;
        }

        img {
            filter: invert(1);
        }
    }
}
