.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 99;

    @media (hover: hover) {
        &:hover {
            h5::after {
                transform: translateX(20px);
            }
        }
    }

    &--connect {
        background: var(--verde-limon);
        padding: 1em 3em;
    }

    h5 {
        display: flex;
        justify-content: space-between;

        &::after {
            content: "\2192";
            font-family: x-large;
            transition: 0.3s ease-in-out all;
        }
    }

    &--row {
        justify-content: space-between;
        align-items: center;
    }

    &--info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 54.333333%;
    }

    &--legales {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 70%;
        padding: 0 1em;

        h6,
        a {
            color: #fff;
            font-size: var(--h6);
            font-family: var(--secundaria-regular);
        }
    }

    &--redes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-basis: 20%;

        img {
            max-width: 15px;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &--info {
            width: 100%;
            padding: 0.5em 2em;
        }

        &--legales {
            padding: 0;

            h6,
            a {
                color: var(--dark);
            }
        }

        img {
            filter: invert(1);
        }
    }
}