.header {
    height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9;
    padding: 0 1em;
    transition: 0.3s ease-in-out all;

    .logo-header {
        visibility: hidden;
        width: 125px;
    }

    &--navegacion {
        justify-content: flex-end;
        align-items: center;

        .btn-ham {
            width: 70px;
            height: 15px;
            z-index: 9;
            position: relative;
            display: block;
            cursor: pointer;
            transition: 0.3s ease-in-out all;

            &[aria-expanded="false"] {
                span {
                    &.ham-top {
                        top: 0;
                    }

                    &.ham-btm {
                        bottom: 0;
                    }
                }
            }

            &[aria-expanded="true"] {
                span {
                    &.ham-top {
                        transform: rotateZ(45deg);
                        top: 6px;
                    }
                    &.ham-btm {
                        transform: rotateZ(-45deg);
                        bottom: 5px;
                    }
                }
            }

            &.collapsed {
                span {
                    &.ham-top {
                        top: 0;
                    }

                    &.ham-btm {
                        bottom: 0;
                    }
                }
            }

            span {
                width: 100%;
                height: 3px;
                background: var(--gris);
                transition: 0.3s ease-in-out all;
                position: absolute;
            }
        }

        #navbarNav {
            position: absolute;
            right: 0;
            background: #fff;
            width: 40%;
            top: 0;
            z-index: 0;
            align-items: flex-start;
        }

        ul {
            margin: 1.2em 0 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 100vh;

            li {
                font-size: var(--h2);
                transition: 0.3s ease-in-out all;
                color: var(--txt-sec);
                margin-bottom: 1em;

                sup {
                    font-size: var(--h5);
                    top: -1em;
                    left: 0.5em;
                }

                &.active {
                    border-bottom: 1px solid;
                    color: var(--txt-prm);
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--rosa-dark);
                    }
                }

                a {
                    color: inherit;
                }
            }
        }

        .boton {
            margin-left: 2em;
        }
    }
}

@media (max-width: 768px) {
    .header {
        #navbarNav {
            position: absolute;
            right: 0;
            left: 0;
            height: 100vh;
            background: var(--bg-prm);
            top: 72px;
            width: 100vw;
            transition: 0.3s ease-in-out all;
        }

        &--navegacion {
            ul {
                flex-direction: column;
                justify-content: center;
                height: calc(100vh - 72px);

                li {
                    margin: 0 0 2em;

                    color: #fff;
                    font-size: var(--h4);

                    &.active {
                        border-bottom: 1px solid;
                        color: #fff;
                    }
                }
            }

            .boton {
                margin-left: 0;
                padding: 0 1em;
            }
        }
    }
}
