.header {
    height: 72px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 9;
    // padding: 0 1em;
    transition: 0.3s ease-in-out all;

    .logo-header {
        width: 125px;
    }

    &.search-on {
        .btn-ham {
            z-index: 0;
        }
    }

    &.nav-on {
        .btn-search {
            z-index: 0;
        }
    }

    &--navegacion {
        justify-content: flex-end;
        align-items: center;

        nav {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        .btn-search,
        .is-search-submit {
            appearance: none;
            border: 0;
            width: 50px;
            height: 40px;
            background: url(../img/icon-close.png) no-repeat center / contain;
            z-index: 9;
            transition: 0.3s ease-in-out all;

            &[aria-expanded="false"],
            &.collapsed {
                background-image: url(../img/icon-search.svg);
            }

            span {
                display: none;
            }
        }

        .btn-ham {
            width: 65px;
            height: 10px;
            z-index: 9;
            position: relative;
            display: block;
            cursor: pointer;
            transition: 0.3s ease-in-out all;

            &[aria-expanded="false"],
            &.collapsed {
                span {
                    &.ham-top {
                        top: 0;
                    }

                    &.ham-btm {
                        bottom: 0;
                    }
                }
            }

            &[aria-expanded="true"] {
                span {
                    &.ham-top {
                        transform: rotateZ(45deg);
                        top: 2px;
                    }
                    &.ham-btm {
                        transform: rotateZ(-45deg);
                        bottom: 5px;
                    }
                }
            }

            span {
                width: 100%;
                height: 2px;
                background: var(--gris);
                transition: 0.3s ease-in-out all;
                position: absolute;
            }
        }

        .navbar-collapse {
            position: absolute;
            right: 0;
            width: 100%;
            top: 0;
            z-index: 0;
            align-items: flex-start;
            background: var(--gris-medio);

            // &#searchNav {
            //     background: var(--gris-medio);
            // }

            &#navbarNav {
                width: 33.33333%;
            }

            .container--search {
                height: 100vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 100px;

                h1 {
                    color: #fff;
                    text-transform: uppercase;
                    text-align: center;
                    font-size: var(--xl);
                    font-family: var(--primaria-regular);
                }
            }
        }

        ul {
            margin: 3em 0 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 100vh;

            li {
                font-size: var(--h2);
                transition: 0.3s ease-in-out all;
                color: var(--txt-sec);
                margin-bottom: 1em;
                opacity: 0;

                sup {
                    font-size: var(--h5);
                    top: -1em;
                    left: 0.5em;
                }

                &.active {
                    border-bottom: 1px solid;
                    color: var(--txt-prm);
                }

                @media (hover: hover) {
                    &:hover {
                        color: var(--rosa-dark);
                    }
                }

                a {
                    color: inherit;
                }
            }
        }

        .boton {
            margin-left: 2em;
        }
    }
}

@media (max-width: 768px) {
    .header {
        z-index: 999;

        &.search-on {
            #btn-search-header {
                right: 20px;
                position: absolute;
            }
        }

        // &.nav-on {
        //     .btn-search {
        //         z-index: 0;
        //     }
        // }

        .logo-header {
            width: calc(90px + 10 * ((100vw - 360px) / 768));
        }

        #navbarNav {
            position: absolute;
            right: 0;
            left: 0;
            height: 100vh;
            top: 0;
            width: 100vw;
            transition: 0.3s ease-in-out all;
        }

        &--navegacion {
            .navbar-collapse {
                .container--search {
                    row-gap: 30px;
                }

                &#navbarNav {
                    width: 100%;
                }
            }

            nav {
                column-gap: 20px;
            }

            .btn-search {
                width: 25px;
                height: 25px;
            }

            .btn-ham {
                width: 40px;
            }

            ul {
                flex-direction: column;
                justify-content: center;
                margin-top: 0;

                li {
                    margin: 0 0 2em;
                    font-size: var(--txt-big);
                    opacity: 1;
                    line-height: normal;
                    margin-bottom: 0.5em;

                    &.active {
                        border-bottom: 1px solid;
                        color: #fff;
                    }
                }
            }

            .boton {
                margin-left: 0;
                padding: 0 1em;
            }
        }
    }
}
